html,
body,
.viewport {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* --- Main Root --- */

#root {
  background-image: linear-gradient(180deg, #e7e7e7, #efefef);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  flex: 1;
}

#main-header .btn-menu {
  height: 100%;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header .btn-menu img {
  height: 25px;
  width: 25px;
}

/* Section Top */

section#top {
  flex: 7;
}

#top .big-question {
  font-size: 37px;
  font-weight: 700;
  font-family: "SF Pro Text";
  text-align: left;
  color: #000;
  height: 91px;
  margin: 79px 24px 13px;
  letter-spacing: -0.8px;
  line-height: 1.25;
}

.question-cloud {
  display: inline;
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  text-align: left;
  color: #e8bb00;
  background: #fff;
  padding: 8px 20px;
  margin: 29px;
  border-radius: 30px;
}

/* Section Audio */

section#audio {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}

.circle-micro {
  height: 53px;
  width: 52px;
  position: relative;
  top: 26px;
  right: 2.5vh;
}

/* Section Bottom */

section#bottom {
  background-color: #e0e0e0;
  flex: 4;
}

#bottom .user-input {
  outline: none;
  margin: 32px 24px;
  border: none;
  padding: 0;
  width: 40vh;
}

#bottom .user-input,
input[type=text] {
  background-color: #e0e0e0;
  color: #000;
  font-weight: 600;
}

#bottom .user-input::placeholder {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  text-align: left;
  background-color: #e0e0e0;
  border-width: 0;
  color: #858583;
}

/* Footer */

footer {
  background-color: #e0e0e0;
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-menu-buttons img {
  height: 5.5px;
  width: auto;
}

.footer-menu-buttons .footer-btn {
  margin: 3px;
}

.footer-menu-buttons a,
img {
}

/* --- Keyboard Root ---*/

#root-keyboard {
  background-image: linear-gradient(180deg, #e7e7e7, #efefef);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#keyboard {
  flex: 5;
  background-color: #cfd2d8;
}

/* Header */

#main-header .btn-menu-right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#main-header .btn-menu-right img {
  height: 25px;
  width: 25px;
  position: relative;
  right: 2.5vh;
  top: 2.5vh;
}

/* Section Send */

section#send {
  background-color: #e0e0e0;
  flex: 1.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle-send {
  height: 53px;
  width: 52px;
  position: relative;
  right: 2.5vh;
  bottom: 2.5vh;
}

/* --- History Root --- */

#root-history {
  background-image: linear-gradient(180deg, #e7e7e7, #efefef);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

hr.date-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e3e3;
  margin: 1em 0;
  padding: 0;
  width: 38%;
}

.date-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.date-history {
  font-family: "SF Pro Text";
  font-weight: 600;
  color: #7b7b7b;
  padding: 14px;
  margin: 0;
}

.message-bot,
.message-user {
  display: inline;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: #1a1a1a;
  padding: 8px 20px;
  margin: 12px;
}

.message-bot {
  background-color: #cfcfcf;
  border-radius: 3px 17px 17px 17px;
  float: left;
}

.message-user {
  background-color: #e0e0e0;
  border-radius: 17px 17px 3px 17px;
  float: right;
}

/* asdas */

.messages {
  padding: 0;
  margin: 0;
}

.msg-wp {
  overflow: auto;
  /* clearfix */
  padding: 0 0.8em 0 0.8em;
}

/* .msg {
  border: 1px solid #000;
  border-radius: 0.6em;
  background: yellow;
  padding: 0.3em;
  margin: 0;
  float: left;
  max-width: 65%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
} */
